@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto+Serif&family=Times+New+Roman&display=swap'); */


@font-face {
  font-family: 'roboto';
  src: url('/src/assets/fonts/Roboto_Serif/static/RobotoSerif_120pt-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'nunito';
  src: url('/src/assets/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
}
.p-datepicker {
  border-radius: 12px !important;
  padding: 8px !important;
}

.p-yearpicker-year {
  width: 80px !important;
  height: 40px !important;
  margin: 6px !important;
}
input{
  background-color: #f7f9fc !important;
}



/* Custom style for Dropdown filter input */

.p-dropdown-header{
   border: 1px solid #05a2ff !important; /* Darker blue on focus */
  /* box-shadow: 0 0 0 2px #93c5fd !important; */
}

